.keys{
   width:48px;
   height:40px;
   background-color: white;
   border:solid;
   border-color:rgb(215, 211, 211);
   border-radius:4px;
   border-width:1px;
   box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
   
}
[data-keys="Backspace"]{
    width:99px;
    height:40px;
}
[data-keys = "Enter"]{
    width:100px;
}
[data-keys = "Tab"]{
    width:100px;
}
[data-keys = "Capslock"]{
    width:100px;
}
[data-keys = "Shift"]{
    width:160px;
}
.spacebar{
    width:564px;
    
}
[data-keys = "Control"]{
    width:100px;
    margin-right:5px;
}


[data-keys = "Alt"]{
    width:100px;
   margin-right:6px;

}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(60 2.7% 14.5% / 1);
}

.container {
    border: solid;
    border-color: rgb(167, 160, 160);
    padding: 25px;
    width: fit-content;
    background-color: aliceblue;
}
.reset-js {
    margin-top: 20px;
    width:60px;
    height:40px;
    border-radius:4px;
    border-width:1px;
   box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
   font-family:Arial, Helvetica, sans-serif;
   font-size:16px;
   
}


h1 {
    text-align: center;
    margin-top: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font: style 300px;
    color:aliceblue;
}

